@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/*Photos from https://unsplash.com/ */

/* ----------------------General rules -------------------------*/

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
  min-height: 100%;
  color: #888;
  font-size: 13px;
  overflow-x: hidden;
  background: #F7F7F7;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
li {
  padding: 0;
  margin: 0
}

a {
  font-size: 14px
}

a:hover {
  transition: 0.4s
}

.btn-orange {
  color: #fff;
  background-color: #e95324;
  border-color: #e95324;
}

.activeNavLink {
  color: #e95324 !important;
}

.dashboard-navbar .activeNavLink {
  background: #424242;
}

.folders-list .activeNavLink {
  background: #f8ded4;
}

.nav-link.activeNavLink {
  color: white !important;
  font-weight: bold;
}

.dash-navbar .nav-link.activeNavLink {
  color: #e95324 !important;
}

/* ----------------------Navbar main -------------------------*/

nav.navbar {
  z-index: 1;
}

.navbar-brand {
  /*margin-right: 31px;*/
  font-family: 'Poiret One', cursive;
  text-transform: capitalize;
}

.navbar-light .navbar-brand {
  color: white;
  font-weight: bold;
}

button.navbar-toggler {
  border: none;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: linear-gradient(rgba(0, 0, 0, 0.32), #2b2b2b);
  /* background: rgba(255, 255, 255, 0.38); */
  /* border-bottom: 1px solid #ffffff; */
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.nav-link i {
  padding-right: 5px;
  color: #e95324;
}

.navbar-brand:hover {
  color: white !important;
}

.nav-link:hover {
  color: rgba(232, 231, 231, 0.7) !important;
  ;
}

/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #aba4b1;
} */

/* ----------------------Background for login register and lending page -------------------------*/

.lending-page-container,
.login-page-container,
.register-page-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.32), #000000), url(./assets/images/bg.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
  color: #fff;
  background-position: center;
  padding: 140px 0;
}

/* ----------------------Login and register-------------------------*/

.auth form {
  padding: 39px 50px;
  background: #0000005c;
}

.auth .form-group {
  text-align: left;
}

.auth h6 {
  border-bottom: 1px solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.auth .form-control {
  padding: 4px;
  border-radius: 0;
}

/* ----------------------Lending page-------------------------*/

.lending-subtitle {
  font-size: 20px;
  /* color: #e95324; */
  width: 90%;
  margin: 0 auto;
  line-height: 23px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #383838;
}
.image-cam {
  width: 140px;
}
.download-box {
  text-align: center;
  margin: 40px 0;
  background: #0000005e;

  padding: 20px 10px;
}
.android {
  background: url(./assets/images/android.png);
  height: 55px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.download-box h5 {
  color: #e95325;
  font-size: 27px;
  padding: 5px;
}
.lending-page-container h1{
  font-size: 35px;
  text-transform: uppercase;
  border-bottom: 1px dashed black;
  margin-bottom: 30px;
  color: black;
}
/* ----------------------Dashboard page-------------------------*/

.loged-user {
  text-align: center;
  padding: 20px 0;
  background: #2b2b2b;
}

.loged-user i {
  font-size: 64px;
  color: #fffbfb;
}

.loged-user h6 {
  /* color: #e95324; */
  margin-top: 10px
}
.loged-user h6 span{
  color: #e95324;

}
.dashboard-navbar li {
  background: #292929;
  border-bottom: 1px solid #636363;
}

.dashboard-navbar li a {
  color: white
}

.dashboard-view {
  padding: 20px;
}

h4.dash-title {
  color: #989292;
  border-bottom: 1px solid #e6e6e6;
}

/* ----------------------Upload image-------------------------*/

.uploaded-box,
.files-box,
.users-list {
  background: #f5f5f5;
  border: 1px solid #eae8e8;
  border-radius: 4px;
  padding: 20px;
  margin-top: 28px;
}

.uploaded-box .upload-btn {
  margin-left: 10px
}

.uploaded-box .upload-btn i {
  color: #e95324;
  font-size: 15px;
}

.uploaded-box form p {
  margin: 0
}

.uploaded-box form p span {
  color: black;
  font-weight: bold;
}

/* ----------------------List files-------------------------*/

.files-preview ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.files-preview ul li {
  margin: 10px;
  border: 1px solid white;
  /* padding: 10px; */
  background: white;
  width: 200px;
}

.files-preview img {
  width: 200px;
  height: 200px
}

.image-desc {
  text-align: center;
  padding: 10px;
}

.image-desc p {
  margin: 0;
}

.image-desc .btn-orange {
  padding: 2px 12px;
  margin-top: 5px;
  font-size: 13px;
}

/* ----------------------List folders-------------------------*/

ul.folders-list {
  margin-bottom: 20px;
}

.folders-list li a {
  font-size: 14px;
  background: #f5f5f5;
  padding: 2px 15px;
  width: 200px;
  margin-bottom: 4px;
  display: inline-block;
}

/* ----------------------List users-------------------------*/

.users-list {
  padding: 8px;
}

.users-list li {
  display: flex;
  background: white;
  margin-bottom: 3px;
  padding: 5px;
  align-items: center;
}

.users-list .btn.btn-orange {
  padding: 0 10px;
  margin-left: 30px;
}

.users-list li span {
  width: 20px;
}

.users-list input[type="checkbox"] {
  margin-left: 6px;
  position: relative;
  top: 3px;
}

.users-list p {
  margin: 0;
}

.users-list .list-right {
  width: 100%;
  text-align: right;
}

.users-list .list-right label {
  margin: 0
}

/* ----------------------Edit user-------------------------*/

.form-edit-user {
  background: #f5f5f5;
  padding: 12px;
}

.form-edit-user a {
  margin: 10px 0;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  /* ----------------------Dashboard page-------------------------*/
  .dashboard-wraper {
    display: flex;
  }
  .dashboard-navbar {
    width: 200px;
    background: #424242;
    min-height: 100vh;
  }
  .dashboard-view {
    width: calc(100% - 200px);
    background: white;
    padding: 50px;
  }
  .loged-user {
    background: none;
  }
  .files-preview ul {
    justify-content: left;
  }
  .users-list {
    padding: 20px;
  }
  /* ----------------------Login and register-------------------------*/
  .container.auth {
    width: 60%;
    margin: 0 auto;
  }

  .lending-page-container h1{
    font-size: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .users-list {
    width: 60%;
  }
  .form-edit-user {
    width: 60%;
  }
  /* ----------------------Lending page-------------------------*/
  .lending-subtitle {
    font-size: 27px;
    line-height: 29px;
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  /* .container.auth{
    width: 40%;
    margin: 0 auto;
    } */
    .container.auth {
      width: 40%;
      margin: 0 auto;
    }
}